:host {
  margin: 40px 0;
  display: block;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .item {
    display: flex;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 30px 0;
    margin-bottom: 20px;
  }

  .col {
    text-align: center;
    min-width: 204px;
    max-width: 204px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .child {
    display: flex;
    gap: 20px;

    &-el {
      display: flex;
      gap: 5px;
      flex-flow: column;
    }
  }
}
